<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @cocktail.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td><%= @cocktail.name %></td>
          </tr>
          <br>
          <%= link_to "Back to home page", cocktails_path, class: 'btn btn-primary' %>
        </tbody>
      </table>

      <div class="list-group">
        <% @cocktail.doses.each do |dose| %>
          <li class="list-group-item">
            <p><%= dose.description %></p>
            <p><%= dose.ingredient.name %></p>
          </li>
        <% end %>
      </div>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all cocktails", cocktails_path %>
    </div>
  </div>
</div>
